extends layout

block content
  h3.
    Students
  ul
    each Symbol, i in AlertStreamNasdaq
      li#AlertStreamNasdaq
        a(href='#') #{AlertStreamNasdaq.Symbol} lives at #{AlertStreamNasdaq.Symbol} 